
<div class="row">
  <div class="col-sm-3" style="margin-left: 30px; margin-top: 20px;">
      <table class="table">
          <thead>
            <tr>
              <td>Total Sleep</td>
              <td >{{total_sleep}}</td>
            </tr>
            <tr>
              <td>Rem Sleep</td>
              <td>{{ rem_sleep }}</td>
            </tr>
            <tr>
              <td>Deep Sleep</td>
              <td>{{ deep_sleep }}</td>
            </tr>
            <tr>
              <td>Awake</td>
              <td>{{ awake }}</td>
            </tr>
          </thead>
        </table>
  </div>

  <div class="col-sm-8">
      <canvas height="40" #pie >{{ chart }}</canvas>
  </div>

  <div class="col-sm-4">
    
  </div>
</div>

<div class="row">
  <div class="col-sm-1">
    <p>Hypnogram</p>
  </div>
    <div class="col-sm-11">
        <canvas height="40" #hypno >{{ chart }}</canvas>
    </div>
</div>


<div class="row">
  <div class="col-sm-1">
    <p>Respiration Rate</p>
  </div>
  <div class="col-sm-11">
      <canvas height="40" #br >{{ chart }}</canvas>  </div>
</div>

<div class="row">
    <div class="col-sm-1">
      <p>Heart Rate</p>
    </div>
    <div class="col-sm-11">
      <canvas height="40" #hr >{{ chart }}</canvas>
    </div>
</div>

<div class="row">
    <div class="col-sm-1">
      <p>Movement</p>
    </div>
    <div class="col-sm-11">
        <canvas height="40" #movement >{{ chart }}</canvas>
      </div>
</div>

<div class="row">
    <div class="col-sm-1">
      <p>Snoring</p>
    </div>
    <div class="col-sm-11">
        <canvas height="40" #snoring >{{ chart }}</canvas>
      </div>
</div>

<div class="row">
    <div class="col-sm-1">
      <p>Apnea/Hypopnea Duration</p>
    </div>
    <div class="col-sm-11">
        <canvas height="40" #apn >{{ chart }}</canvas>
      </div>
</div>
